{# extend #}

{# render partials ... ? #}




<h1>{{ title }}</h1>
qsd
qsd
qsd

{% for _partial in _regions._main._partials %}
    {{ _partial|raw }}
{% endfor %}



dq
sd
TWIG
<hr>
{% for _partial in _regions._bottom._partials %}
    {{ _partial|raw }}
{% endfor %}
